.tracker {
  padding-left: 6rem;
  color: #2c3e50;
  font-size: 0.9rem;
}
.milesAway {
  font-weight: bold;
  font-family: Abel;
  display: block;
  font-size: 1.5rem;
}
.direction {
  text-transform: uppercase;
  font-family: Abel;
  font-size: .9rem;
}