.cutSceneWrapper, .cutSceneWrapper * {
  transition: opacity ease 2s;
  padding: 0;
  margin: 0;
}
.touchText {
  pointer-events: none;
  color: #fff;
  font-size: 1.5rem;
  position: absolute;
  z-index: 2;
  top: 50%;
  margin-top: -1.5rem;
  text-align: center;
  display: block;
  width: 100%;
  left: 0;
}
.cutSceneWrapper {
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.cutSceneVideo {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  opacity: 1;
}
.playing {
  opacity: 1;
}
.hiddenOpacity {
  opacity: 0;
}