@font-face {
  font-family: 'Futura';
  src: url('/fonts/Futura.ttf');
}

.imageBackground {
  width: 100%;
  padding-bottom: 33.333%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.primaryHeader {
  position: absolute;
  bottom: 0.5rem;
  left: 1rem;
  font-family: Futura;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #fff;
  padding-left: 3.5rem;
}
.primaryHeader::before {
  content: '';
  position: absolute;
  left: 0rem;
  top: -0.5rem;
  display: inline-block;
  height: 3rem;
  width: 3rem;
  background-image: url(/images/DestinySymbol.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.backLink {
  text-decoration: none;
  color: #fff;
  padding: .5rem 1rem 0rem .5rem;
}

.topBar {
  /* TODO: Use autoprefixer */
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

  background-color: rgba(0,0,0,.5);
  width: 100%;
  padding: 0.5rem 0.25rem;
  font-size: 1.25rem;
  font-family: Abel;
}
.glimmer {
  color: #fff;
  display: inline-block;
  float: right;
  padding-right: .25rem;
}
.glimmer::before {
  content: '';
  display: inline-block;
  height: 1rem;
  width: 1rem;
  position: relative;
  top: 0.15rem;
  left: -0.5rem;
  background: url(/images/glimmer.png) no-repeat;
  background-size: cover;
}