.planet {
  position: relative;
  top: 4rem;
  min-height: 10rem;
  width: 100%;
  max-width: 30rem;
  padding: 0%;
  text-align: center;
  cursor: pointer;
}

.glimmerText::before {
  content: '';
  display: inline-block;
  height: 1em;
  width: 1em;
  background: url(/images/glimmer.png) no-repeat;
  background-size: cover;
  margin-right: 0.25em;
  margin-left: 0.25em;
}

.lockedModal {
  position: absolute;
  bottom: 0%;
  width: 60%;
  left: 20%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 0.5rem;
  font-size: 0.9rem;
}

.planetPreloading {
  opacity: 0;
}

.planetHeading {
  pointer-events: none;
  
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  margin-top: -0.875rem;
  margin-left: 0.875rem;

  text-align: center;
  display: block;
  width: 100%;

  font-family: Abel;
  font-size: 1.75rem;
  /*background: red;*/

  text-transform: uppercase;
  letter-spacing: 1.5rem;
  color: #fff;
}

.planetImage, .planetImageDiscovered {
  margin: 0 auto;
  width: 100%;
  transition: all ease 0.5s;
}

.lockedIcon {
  width: 2rem;
  height: 2rem;
  margin-left: -1rem;
  opacity: 0.75;
}

.planetImage {
  position: relative;
  text-align: center;
  opacity: .5;
}

.planetImage::after {
  content: 'testing';
  color: red;
  display: block;
  font-weight: 20rem;
}

.planet:hover .planetImage {
  opacity: 1;
}

.preload {
  opacity: 0;
}

@media (min-width: 50rem) {
  .planetMainWrapper {
    display: inline-block;
    width: 33.333%;
  }
}